<?xml version="1.0"?>
<configuration>
  
	<appSettings>
		<add key="Telerik.Skin" value="Vista"/>
		<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>

    <!--for MOLPay-->
    <!--<add key="MOLPay.VerifyKey" value="verify"></add>
    <add key="MOLPay.MerchantId" value="test7561"></add>-->
    
    <add key="VerifyKey" value="U0k0Io3ngZ"></add>
    <add key="MerchantId" value="M03359"></add>
      
		<add key="WC_ServerName" value="localhost"/>
		<add key="WC_DatabaseName" value="SeaFoodShopping"/>
		<add key="UserID" value="1"/>
		<add key="Password1" value="1"/>
		<add key="WC_ImagePath1" value="web\Products\"/>
		<add key="WC_ImagePath" value="C:\\Inetpub\\wwwroot\\web\\Products\\"/>
    <!--<add key="DocumentsPath" value="C:\\Inetpub\\wwwroot\\E-Shopping\\Documents\\"/>-->
		<add key="DocumentsPath" value="http://fishmarket.com.qa/Documents/"/>
    <add key="ImagePath" value="http://fishmarket.com.qa/"/>
		<!--<add key="WC_FilePath1" value="C:\\Inetpub\\wwwroot\\E-Shopping\\Files1\\"/>-->
    <!--<add key="Webserver" value="ms1027-1.securen.net"/>
    <add key="MailAddress" value="admin@easybuybye.com"/>
    <add key="MailAddress2" value="supplier@easybuybye.com"/>
    <add key="Password" value="serbaIT1234"/>-->
    <add key="Webserver" value="mail.easybuybye.com" />
    <add key="MailAddress" value="admin@easybuybye.com" />
    <add key="MailAddress2" value="supplier@easybuybye.com"/>
    <add key="Password" value="serbaIT1234" />
    <add key="Port" value="2525" />
	</appSettings>
	<connectionStrings>
		<!--<add name="connString" connectionString="data source=localhost;Database=SeaFoodShopping;User Id=sa;Password=serbait;" providerName="System.Data.SqlClient"/>-->
    <add name="connString" connectionString="data source=127.0.0.1,1466;Database=serbadinamikit;User Id=ebb;Password=serbaIT!@#456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
    <sessionState timeout="30"></sessionState>
		<customErrors mode="RemoteOnly" defaultRedirect="index.aspx"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="Stimulsoft.Base, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Controls, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Database, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report.Design, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report.Web, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>-->
				<!--<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
				<!--<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
				<!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
				<!--<add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
    <pages validateRequest="false">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
		</httpModules>
		<identity impersonate="false"/>
		<authentication mode="Windows"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
			<remove name="RadCompression"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
		</modules>
		<handlers>
			<add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
			<remove name="ChartImage_axd"/>
			<remove name="ChartImageHandler"/>
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_Web_UI_DialogHandler_aspx"/>
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_RadUploadProgressHandler_ashx"/>
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_Web_UI_WebResource_axd"/>
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
		</handlers>
		<directoryBrowse enabled="false"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="CommonSoap11Binding"/>
			</basicHttpBinding>
			<customBinding>
				<binding name="CommonSoap12Binding">
					<textMessageEncoding messageVersion="Soap12"/>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
		<client>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ServiceAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="Service">
				<endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
